@import url('https://fonts.googleapis.com/css?family=Roboto');

/* HEADER */
.bg-image {
    background-image: url(../images/backgimage.jpg) !important;
    background-size: cover;
}
.navbar-brand {
    margin-left: 2% !important;
}
.navbar-nav {
    margin-right: 2% !important;
}
.mainheading {
    font-family: Roboto !important;
    font-size: 3em;
    letter-spacing: 5px !important;
}
.downtext {
    font-family: Roboto !important;
    font-size: 0.8em;
    letter-spacing: 3px !important;
}
.content {
    margin-top: 12%; 
    text-align: center;
    margin-bottom: 10%;
    color: #fff !important;
}

.start-btn {
    padding: 1.5% 3% !important;
    font-size: 1.2em !important;
    border-radius: 30px !important;
    font-family: Roboto !important;
}
.link-btn:hover {
    opacity: 1;
    text-decoration: underline;
}
.link-btn {
    color: #fff !important;
    background-color: transparent !important;
    font-weight: bold;
    opacity: 0.85;
}
.container-fluid {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.special {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 1%;
    color: #fff !important;
    background-color: transparent !important;
    font-weight: bold;
    padding: 5% 8% !important;
    margin-top: 17%;
    
}
.special:hover {
    background-color: #fff !important;
    color: #000 !important;
    
}
.afternav {
    color: #364763;
    text-align: center;
    margin-top: 5%;
}
.afternavtext {
    color: #7c899e !important;
    font-size: 1.2em !important;
    text-align: center;
}
/* Middle Tabs */

#image1 {
	text-align: center;
	position: relative;
	padding: 0;
	display: block;
}

#image {
	position: relative;
}

#float0 {
	position: absolute;
	top: 2vmin;
	left: 20vmin;
}

#float1 {
	position: absolute;
	top: 9vmin;
	left: 0;
	right: 0;
	color: white;
}

#float2 {
	position: absolute;
	top: 13vmin;
	left: 0;
	right: 0;
	color: white;

}

#image:hover {
	height: 20vmin;
	width: 38vmin;
	transition: 0.5s;
}

.col-md-3 {
	margin-bottom: 3%;
}

/* Horizontal Carousal */

.title{
	margin-top:10px;
	text-align:center;}
	.item{
	height:300px;
	background-color:none;
	}
	
	.item h4{
	width:70%;
	text-align:center;}
	
	 .item p {
    max-width: 768px;
    margin: auto;
    min-height: 132px;
    color: #8e9aa9;
    line-height: 1.9;
    font-weight: 500;
	padding-top:30px;
	padding-bottom:20px;
}
	.title{
	position: relative;
    text-align: center;
    color: #1fbad6;
    text-transform: uppercase;
    font-weight: 400;
	}
	.carousel-control.right
	{
	background-image:none;}
	.carousel-control.left
   {
	background-image:none;}
   .user-details
   {position:absolute;
   bottom:0;

   }
   
   .user-details
   {
		position:absolute;
		margin-left:44%;
   }
   .people-views
   {
    transition-timing-function: ease-in-out;
	
	}
      .bubble {
          visibility: hidden;
      }
  /* FOOTER CSS */

body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    }
	 .ft-content span{
	display:block;}
	.ft-title {
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}
	.ft-content ul li a {
    display: inline-block;
    color: grey;
    font-weight: 500;
	}
	
	.ft-content ul
	{
	list-style:none;
	padding:0;
	}
	 .ft-content ul li a:hover
	{
	list-style:none;
	padding:0;
	 color: black;
	
	 }
	 .ft-img
	 {
	 width:100px;
	 height:40px;
	 margin-bottom:30px;
	 }
	.ft-title
	{
	font-weight:bold;
	}
	.fl-content li
	{
	text-decoration:none;
	display:inline;
	list-style:none;
	font-size:190%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
	}
	.glyphicon1
	{
	display:block;
	line-height:300%;
	}
	.glyphicon1-text span
	{
	display:block;
	line-height:150%;
	}
	.glyphicon1 glyphicon glyphicon-envelope
	{line-height:300%;
	}
	.glyphicon glyphicon-earphone
	{
		margin-top:1400px;
	}	

.footertext {
    color: grey;
}
.footertext:hover {
    color: #323232;
    text-decoration: underline;
}

/* HORIZONTAL SIDEBAR */


.btn-success {
    line-height: 1;
    font-size: 12px;
    padding: 16px 20px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,.4);
    background-color: #3c9d29;
    border-radius: 100px;
	}
	
	

	.feat-text-head
	{
	margin: 8px 0 24px;
    text-transform: uppercase;
    font-weight: 300;
	font-size:30px;
	}
	
	.feat-text-text
	{
	margin: 0 0 10px;
	font-family: Roboto,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	}
	.feat-text span{
	display:block;}
	.feat-text
	{height:450px;
	}
	
	.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   transition: 1s ease-in-out top;
  
   
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 100px;
}

.carousel.vertical .prev {
   top: -100px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -100px;
}


	
	
		.ft-content
	{
	padding-left:20px;
    }
	
	.user-views	span{
	display:block;}
	.title{
	margin-top:10px;
	text-align:center;}
	.item{
	height:300px;
	background-color:none;
	}
	
	.item h4{
	width:70%;
	text-align:center;}
	
	 .item p {
    max-width: 768px;
    margin: auto;
    min-height: 132px;
    color: #8e9aa9;
    line-height: 1.9;
    font-weight: 500;
	padding-top:30px;
	padding-bottom:20px;
}
/* NUMBERS */
.numbers {
    text-align: center;
    font-family: Roboto;
    font-size:2.8em;
    color: #364763;
}
.numtext {
    text-align-last: center;
    font-family: Roboto;
    font-size: 0.8em;
    color: #7c899e;
}
/* another image */
.mainheading2 {
    font-family: Roboto !important;
    font-size: 3em;
    letter-spacing: 5px !important;
}
.downtext2 {
    font-family: Roboto !important;
    font-size: 0.8em;
    letter-spacing: 3px !important;
}
.bgimage {
    background-image: url(../images/backgimage.jpg);
    background-size: cover;
}
.content2 {
    margin-top: 5%; 
    text-align: center;
    margin-bottom: 7%;
    color: #fff !important;
}
/* news container */
.newstext {
    color: #364763;
    font-family: Roboto;
    font-size: 1.2em;
    margin-right: 1%;
}
.news {
    width: 12%;
    height: 12%;
}